wandb/
__pycache__/
build/
logs/
loss_logs/
model_ckpts/
fine_tuned_models/
plots/
sclite_outputs/
language_model/
k2/
k2_wheels/
code_trial/
awp_code/
ctc_optimized.cpython-39-x86_64-linux-gnu.so
ctc_optimized.cpython-312-x86_64-linux-gnu.so
ctc_optimized.html
